* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: navy;
    color: #fff;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

#menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

#menu li a {
    color: white;
    text-decoration: none;
}

#menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: lightblue;
}

.hero-text {
    flex: 1;
    padding: 20px;
}

.hero-img {
    flex: 1;
    padding: 20px;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.programs {
    padding: 40px 20px;
}

.program-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.program-card {
    background: #e2eef9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.faculty {
    text-align: center;
    padding: 40px 20px;
}

.faculty-card img {
    width: 200px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: darkblue;
    color: white;
    margin-top: 20px;
}

/* Mobile Navi */
@media screen and (max-width: 768px) {

     #menu-toggle:checked ~ .hero {
        margin-top: 200px;    }
}

 
    .menu-icon {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        background: #0a3552;
        width: 100%;
        padding: 10px 0;
        position: absolute;
        top: 60px;
        left: 0;
    }

    #menu-toggle:checked + .menu-icon + #menu {
        display: flex;
    }

    #menu li {
        text-align: center;
        padding: 10px 0;
    }
}